[run]
plugins =
    covdefaults
    piptools_coverage
omit =
    piptools/_compat/*
    # any local plugins we use aren't part of normal testing/coverage
    plugins/*

[report]
exclude_also =
    ^\s*@pytest\.mark\.xfail
include = piptools/*, tests/*
fail_under = 99
