# Ignore cram test output
*.t.err

# Python cruft
*.pyc

# Virtualenvs
.envrc
.direnv

# Testing
.tox
htmlcov

# Build output
build
dist
*.egg-info
.coverage
.cache

# IDE
.idea
venv/

# Test files
requirements.in
requirements.txt
.eggs/
