repos:
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    args: [--target-version=py36]
- repo: https://github.com/PyCQA/isort
  rev: 5.6.4
  hooks:
  - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v2.7.4
  hooks:
  - id: pyupgrade
    args: [--py36-plus]
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-pytest-style
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.790
  hooks:
  - id: mypy
    # Avoid error: Duplicate module named 'setup'
    # https://github.com/python/mypy/issues/4008
    exclude: ^tests/test_data/
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.0
  hooks:
  - id: bandit
    exclude: ^tests/
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v1.6.1
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
