repos:
  - repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
    - id: black
      language_version: python3
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.16
    hooks:
    - id: isort
      language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    - id: flake8
      language_version: python3
  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.0
    hooks:
    - id: bandit
      language_version: python3
      exclude: ^tests/
