language: python

# Run tox with python 3.4, but let _it_ build the envs for the various Python
# versions (instead of Travis)
python: 3.4

env:
  matrix:
    - TOXENV=py27
    - TOXENV=py34

install:
  - travis_retry pip install tox

script:
  - tox
