---

extends: default

rules:
  indentation:
    level: error
    indent-sequences: false
  quoted-strings:
    required: only-when-needed
  truthy:
    allowed-values:
    - >-
      false
    - >-
      true
    - >-  # Allow "on" key name in GHA CI/CD workflow definitions
      on

...
