*
!.gitignore
!.towncrier_template.md.jinja
!.draft_changelog_partial.md
!README.md
!*.bugfix
!*.bugfix.md
!*.bugfix.*.md
!*.breaking
!*.breaking.md
!*.breaking.*.md
!*.contrib
!*.contrib.md
!*.contrib.*.md
!*.deprecation
!*.deprecation.md
!*.deprecation.*.md
!*.doc
!*.doc.md
!*.doc.*.md
!*.feature
!*.feature.md
!*.feature.*.md
!*.misc
!*.misc.md
!*.misc.*.md
!*.packaging
!*.packaging.md
!*.packaging.*.md
