click-extra [sphinx]  # GitHub-flavored admonitions: https://github.com/executablebooks/MyST-Parser/issues/845#issuecomment-3580549737
furo
myst-parser
setuptools-scm
sphinx
sphinxcontrib-apidoc
sphinxcontrib-programoutput
sphinxcontrib-towncrier
sphinx-issues
