# pip-tools itself (and its dependencies)
# marked as editable to ensure it is treated as a relative path
-e .

furo
myst-parser
setuptools-scm
sphinx
sphinxcontrib-apidoc
sphinxcontrib-programoutput
sphinxcontrib-towncrier
sphinx-issues
