name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  qa:
    name: QA
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toxenv:
          - checkqa
          - readme
    steps:
      - uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
      - name: Set PY
        run: echo "::set-env name=PY::$(python -VV | sha256sum | cut -d' ' -f1)"
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Install tox
        run: pip install tox
      - name: Test ${{ matrix.toxenv }}
        run: tox -e ${{ matrix.toxenv }}

  cpython:
    name: Test
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os:
          - Ubuntu
          - Windows
        python-version:
          - 2.7
          - 3.5
          - 3.6
          - 3.7
          - 3.8
        pip-version:
          - "20.0"
          - "latest"
    steps:
      - uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Test pip ${{ matrix.pip-version }}
        run: tox -e pip${{ matrix.pip-version }}-coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.6
        with:
          file: ./coverage.xml
          name: ${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.pip-version }}

  pypy:
    name: Test
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os:
          - Ubuntu
          # TODO uncomment after test_realistic_complex_sub_dependencies being fixed
          # - Windpws
        python-version:
          - pypy2
          - pypy3
        # Test pypy only with the latest pip version to reduce the number of jobs
        pip-version:
          - latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Test pip ${{ matrix.pip-version }}
        run: tox -e pip${{ matrix.pip-version }}
