name: Cron

on:
  schedule:
    # Run everyday at 03:53 UTC
    - cron: 53 3 * * *

jobs:
  main:
    name: CI
    uses: ./.github/workflows/ci.yml
    with:
      cpython-versions: >-
        ["3.10", "3.11", "3.12", "3.13"]
      cpython-pip-version: >-
        ["main", "latest", "supported", "lowest"]
